<include file="Public:header"/>
<div class="index-group">
	<div class="brand-intro">
		<!-- 焦点图 -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="__IMG__/150.jpg" alt=""></div>
				<div class="swiper-slide"><img src="__IMG__/151.jpg" alt=""></div>
				<div class="swiper-slide"><img src="__IMG__/150.jpg" alt=""></div>
			</div>
			<!-- 分页器 -->
			<div class="swiper-pagination"></div>
		</div>
		<!-- 焦点图 end-->
	  	<!--  产品内容 -->
		<div class="goods-group">
			<volist name="list" id="vo">
				<a class="brand-item" href="{:U('Shop/detail',array('id'=>$vo['goods_id']))}">
					<div class="pr">
						<img src="__UPLOADS__/{$vo['goods_pic']}" alt="">
						<span class="sales">销量：{$vo['goods_sales']}</span>
					</div>
					<div class="goods-name">{$vo['goods_name']}</div>
					<div class="goods-price">￥<em>{$vo['goods_price']|price_format}</em><del>原价:{$vo['goods_mktprice']|price_format}</del></div>
				</a>
			</volist>
		</div>
		<!-- 加载中 -->
		<div class="load-box">{$page}</div>
	</div>
<div  style="height: 1.0rem"></div>
	<!-- flexd nav -->
	{:W('Menu/footer_nav')}
</div>
<script src="__JS__/main.js"></script>
<script src="__JS__/swiper.min.js"></script>
<script>
      var mySwiper = new Swiper('.swiper-container', {
        autoplay: 5000,
        pagination: '.swiper-pagination',
        loop:'true'
      })
</script>
<include file="Public:footer"/>