<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>签到送红包</title>

    <link rel="stylesheet" type="text/css" href="__CSS__/public/reset.css">

    <link rel="stylesheet" type="text/css" href="__CSS__/public/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="__CSS__/public/function.css">

    <link rel="stylesheet" type="text/css" href="__CSS__/lottery.css">

    <script type="text/javascript" src="__JS__/model/jquery-1.8.0.min.js"></script>

    <script type="text/javascript" src="__JS__/model/jquery.SuperSlide.2.1.1.source.js"></script>

    <script type="text/javascript" src="__JS__/model/html5.js"></script>

    <script type="text/javascript" src="__JS__/public.js"></script>


</head>

<body class="g-body-in">

<div class="g-wrap">

    <section class="h15"></section>

    <section class="main-sec pt5 main-wheel">

        <div class="big-border">

            <div class="small-border g9">

                <volist name="info['LotteryAward']" id="vo">

                    <div class="shan">

                        <span>{$vo['award_name']}</span>

                        <img src="__UPLOADS__/{$vo['award_pic']}" width="30%">

                    </div>

                </volist>

                <img src="__IMG__/middle.png" width="50%" class="middle">

            </div>

        </div>

    </section>

    <section class="main-sec">

        <div class="g-num">您还有<em>2</em>次抽奖机会</div>

    </section>

    <!--  -->

    <section class="main-sec loptop">

        <div class="m-title"><h3>有谁在抢</h3></div>

        <dl class="peolist">

            <volist name="record_list" id="vo">

            <dd>

                <img src="{:get_member_avatar($vo['member_id'])}" width="20%">

                <div class="right">

                    <span>

                        <h2>{:get_member_nickname($vo['member_id'])}</h2>

                        <em>{$vo['lottery_time']|date='Y-m-d H:i:s',###}</em>

                    </span>

                    <p>跪谢老板打赏跪谢老板</p>

                </div>

            </dd>

            </volist>

        </dl>

    </section>

    <!-- 页面用户在抢滚动 -->

    <script type="text/javascript">

        jQuery(".loptop").slide({

            mainCell:"dl",

            autoPage:true,

            effect:'topLoop',

            autoPlay:true,

            scroll:3,

            vis:3,

            easing:'swing',

            delayTime:500,

            interTime:3000,

            pnLoop:true

        });

    </script>

    <!--<section class="main-sec">

        <div class="m-title"><h3>活动说明</h3></div>

        <div class="einfo">

            <p>活动时间：7月1日-7月30日</p>

            <p>每日签到可获1次抽奖机会</p>

            <p>每日邀请好友参与可获1次抽奖机会</p>

        </div>

    </section>-->

</div>

<div class="dialog info">

    <div class="d-main">

        <p>次数用光,金额不足 之类的 信息提示表单</p>

    </div>

</div>

<div class="dialog theForm">

    <div class="d-main">

        <p>恭喜你,抽奖成功,100现金,请注意查收</p>

        <div class="btn-w">

            <a class="btn btn-lang close" href="javascript:;">确定</a>

        </div>

    </div>

</div>

<div class="dialog again">

    <div class="d-main">

        <p>再来一次</p>

        <div class="btn-w">

            <a class="btn close" href="javascript:;">再来一次</a>

            <a class="btn false" href="javascript:;">取消</a>

        </div>

    </div>

</div>

</body>

<script type="text/javascript">
var indexApp = {
    //入口方法
    init : function (valueJson) {
        this.valueJson = valueJson; //获取前台页面传入的参数
        this.wheelInit(); //一些样式的初始化 如圆形的高度设置等
        this.resize(); //onresize 事件 重置样式
        this.cancel($('.false')); //注册取消按钮的点击事件
        this.cancel($('.close'));//注册再来一次按钮的点击事件
        return this; //返回对象本身,使其可以链式调用
    },
    //转盘初始化
    wheelInit : function () {
        var t = this;
        t.valueJson['wheelBody'].css('height', t.valueJson['wheelBody'].css('width'));
        t.valueJson['wheelSmall'].css('height', t.valueJson['wheelSmall'].css('width'));
        t.showStars(); //某几个小圆点高亮
    },
    //窗口改变时的重新设置样式
    resize : function () {
        var t = this;
        $(window).resize(function () {
            t.wheelInit();//窗口发生变化的时候重置样式
        });
    },
    //计算并且排列小圆点
    showStars : function () {
        var t = this;
        for(var i=0; i < t.valueJson['starsNum']; i++) {
            var oStar = document.createElement('div');

            if(i%2 == 0) { //奇数的圆点增加高亮的效果(外阴影)
                oStar.style.boxShadow = '0 0 5px #fff';
            }   
            oStar.className = 'stars';
            oStar.style.left = t.valueJson['starsPostion'][i][0] + '%';
            oStar.style.top = t.valueJson['starsPostion'][i][1] + '%';
            t.valueJson['wheelBody'].append(oStar);

        }
    },
    //取消按钮事件绑定
    cancel : function (obj) {
        obj.click(function () {
            $(this).parents('.dialog').css('display','none');
        });
    },
    //转盘开始的初始化函数 以及点击事件 通过链式调用加载 而非init()初始化加载,这样做,当未开始或者已结束页面不需要转动的时候,不链式调用此方法就行
    wheelStart : function () {
        var t = this;
        t.nowRan = 0; //当前弧度
        t.once = true; //是否第一次
        t.onStart = true; //是否开始了转动

        //点击事件
        t.valueJson['startBtn'].click(function () {
            if(t.onStart == true) { //只有 为 true 的 时候 才允许转动
                // t.onStart = false;
                    //ajax 事件 获取
                    $.ajax({
                        url:"{:U('Event/ajaxLottery')}",
                        type:'GET',
                        dataType:"json",
                        data:{"id":1},
                        success : function (data) {
                            //需要返回的数据
                            // var data = {'status' : 1, 'actionStatus' : 2, 'ran' : 40, 'onceran' : 40, 'num' : 13}
                            //          // status: 1执行转动 2不转动; 
                            //          // actionStatus: 1值为中奖了,2值为再来一次3值为多谢参加;
                            //          // num:抽奖次数; 
                            //          // 其它两个参数不管
                                        
                            // if(data['status'] == 1) { //表示成功 
                            //  t.showWheel(data); //执行转动效果
                            // }else if(data['status'] == 2){ //金额不足 或者次数不足
                            //  t.dialog($('.info')); //没有按钮的提示信息
                            // }else {         //出现了异常错误
                            //  t.dialog($('.again'),data);  //执行带按钮的提示框
                            // }
                            alert(data);
                        },
                        error:function(){
                            alert("错误")
                        }
                     });

        
            }
        });
    },

    //转盘转动具体算法
    showWheel : function (data) {
        var t = this;
        //需要转动的值 等与当前值 + 默认转动7200度 + 后台计算传过来的度数
        var ra = t.nowRan + t.valueJson['actionRan'] + data['ran'];

        //第一次的话 弧度要加上每一块弧度的一半
        if(t.once) {
            t.once = false;
            ra = ra + (data['onceran'] / 2)
        }

        //注意指针 和 转盘 反方向转动 来达到 指针 不动的效果
        t.valueJson['wheelBody'].css('webkitTransform','rotate('+ ra +'deg)');
        t.valueJson['startBtn'].css('webkitTransform','rotate('+ (-ra) +'deg)');

        //重新获取当前的度数
        t.nowRan = ra;

        //转盘转动需要4S  这里 4.5S 后 执行 各种弹出提示信息框的事件
        setTimeout(function () {
            t.showDialog(data);
            t.onStart = true;
        },4500);
    },

    //根据各种不同的参数 显示弹出层的提示框
    showDialog : function (data) {
        var t = this;
        if(data['actionStatus'] == 1) {  //值为1 表示 抽取到了现金红包
            t.deduct(data); //扣除次数;
            t.dialog($('.theForm'), data); //获得奖品的 提示信息框
        }else if(data['actionStatus'] == 2) {   //值为2 表示 再来一次  再来一次不扣除次数
            t.dialog($('.again'), data);//再来一次
            t.deduct(data); //扣除次数; 
        }else if(data['actionStatus'] == 3) {  //值为3 表示 谢谢参与
            t.deduct(data); //扣除次数;  
            t.dialog($('.info'), data);//谢谢参与
        }
    },

    //扣除次数的相关操作  次数的 参数 也是ajax 后台传递过来
    deduct : function (data) {
        $('.g-num').find('em').html(data['num']);
    },

    //弹出层
    dialog : function (obj, data, bl) {
        if(data && !bl) { //关注 再来一次  谢谢参与  系统异常 都是执行此处
            obj.find('d-main').children('p').html(data['mess']);
        }

        //打开弹出层
        obj.css('display','block');

    }

}



    var valueJson = {

        'wheelBody' : $('.big-border'), //转盘主体

        'wheelSmall' : $('.small-border'), //转盘内部

        'starsNum' : 16, //转盘边缘小黄点个数

        'starsPostion' : [[50, 0.5], [70, 6], [84.5, 18], [92.5, 32], [95.5, 50], [91, 68], [81.5, 81.5], [68, 91], [50, 95.5], [32, 92.5], [16, 83], [6, 70], [0.5, 50], [3.5, 32], [14, 15], [27, 5.5]], //小圆点坐标

        'actionRan' : 7200, //转盘转动弧度

        'theOnce' : 0, //初始化转盘第一个

        'startBtn' : $('.middle'), //开始按钮

        //需要后台传值的参数

        'clickAjaxUrl' : 'www.baidu.com', //点击抽奖获取信息的交互的ajax

        'is_gz' : 1, //是否开启关注 1开 2 关

        'is_follow' : {$info['lottery_id']} //是否关注

    };

    indexApp.init(valueJson).wheelStart(); //应用开始

</script>

</html>