<include file="Public:header"/>
<div class="shopCart-group">
	<!--  头部导航-->
	<div class="header-all">
		<div class="com-header">
			<a class="back-a" href="javascript:history.go(-1)"><i class="head-icon-back">&#xe609;</i></a>购物车
		</div>
		<div class="dt-top"></div>
	</div>
	<!--  头部导航-->
	<div class="shopCart-list">
		<volist name="list" id="item">
			<volist name="item" id="vo">
				<div class="item">
					<a class="close" href="JavaScript:removeCart({$vo['id']},{$vo['spec_id']});"><i class="iconfont">&#xe60a;</i></a>
					<div class="product-img">
						<img src="__UPLOADS__/{$vo['img']}" alt="">
					</div>
					<dl>
						<dt>
							{$vo['name']}
						</dt>
						<dd>
							<notempty name="vo['spec_id']">
							<p>规格：<em>{$vo['spec_id']|get_spec_name}</em></p>
							</notempty>
							<p>单价：<em>{$vo['price']|price_format}</em>元</p>
							<p>数量：<em>{$vo['num']}</em>个</p>
							<p>小计：<em>{$vo['price']*$vo['num']|price_format}</em>元</p>
						</dd>
					</dl>
				</div>
			</volist>
		</volist>
	</div>
	<!-- flexd nav -->
	{:W('Menu/footer_nav')}
</div>
<script>
	function removeCart(goods_id,spec_id)
	{
		var URL = "{:U('Cart/removeCart')}";
		var data = {'goods_id':goods_id,'spec_id':spec_id};
		$.post(URL,data,function(result){
			//移除购物车动画
		},'json');
	}
</script>
<include file="Public:footer"/>